<h1>注意！！！！！</h1>
<h2>免責事項</h2>
<UL>
	<LI>このサービスは「Rails Girls Kyoto2」でトレーニング用に作成されたものです</LI>
	<LI>一切の瑕疵の責任は負いません。覚悟を決めてご利用ください</LI>
	<LI>登録された個人情報の取り扱いには十分な注意を払います</LI>
</UL>
<P>作成者：なかがわりこ <A HREF＝http://www.twitter.com/riko/>http://www.twitter.com/riko/</a></P>

